Language: Cpp

BreakBeforeBraces: Allman 
PointerAlignment: Left
IndentWidth: 4
IndentPPDirectives: BeforeHash 
ColumnLimit: 80
AccessModifierOffset: -4
FixNamespaceComments: true
NamespaceIndentation: All 
AlwaysBreakTemplateDeclarations: Yes 
AllowShortFunctionsOnASingleLine: InlineOnly