[submodule "varak/vendor/spdlog"]
	path = varak/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "varak/vendor/glfw"]
	path = varak/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "varak/vendor/imgui"]
	path = varak/vendor/imgui
	url = https://github.com/Calbabreaker/imgui/
[submodule "varak/vendor/glm"]
	path = varak/vendor/glm
	url = https://github.com/g-truc/glm
